@mixin respond($breakpoint) {
    @if $breakpoint == bp-600 {
        @media (min-width: 37.5em) {
            @content;
        } //600px (37.5 * 16)
    }

    @if $breakpoint == bp-900 {
        @media (min-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == bp-1200 {
        @media (min-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == bp-1800 {
        @media (min-width: 112.5em) {
            @content;
        } //1800px
    }
}

$color-primary: #0c2940;
$color-secondary: #8ed2c5;

$color-white: #fff;

$color-green: #b4e0ad;
$color-pink: #f64f96;
$color-yellow: #ffff19;
